body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://plus.unsplash.com/premium_photo-1683309568772-57011d6c1b7b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
 }
form{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

input, textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: var(--font-size-base);
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}

legend {
    font-weight: bold;
    padding: 0 0.5em;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: -0.5em;
    margin-bottom: 1em;
}

form h1{
    text-align: center;
    margin-bottom: 1em;
}